<!-- Sarguja University-->
<div class="flex-c-s p-t-8">
    <a href="#">
        <img class="max-w-full" src="~/banner/banner-02.jpg?@DateTime.Now.ToString("MMddyyyy_HH_mm_ss")" alt="Surguja Online">
    </a>
</div>
