<!-- Sarguja News-->
<div class="container">
    <div class="flex-c-c">
        <a href="#" title="Sarguja News">
            <img class="max-w-full" src="~/Banner/banner-03.jpg?@DateTime.Now.ToString("MMddyyyy_HH_mm_ss")" alt="Sarguja Online">
        </a>
    </div>
</div>

