<div class="container" title="Sarguja University">
    <div class="flex-c-c">
        <a href="#" title="Surguja">
            <img class="max-w-full" src="~/Banner/banner-01.jpg?@DateTime.Now.ToString("MMddyyyy_HH_mm_ss")" alt="Sarguja News">
        </a>
    </div>
</div>
