<div class="container">
    <div class="flex-c-c">
        <a href="#">
            <img class="max-w-full" src="~/Banner/banner-04.jpg?@DateTime.Now.ToString("MMddyyyy_HH_mm_ss")" alt="Sarguja Online">
        </a>
    </div>
</div>


