<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-4">
        <div class="f2-s-1 p-r-10 m-tb-6">
            <a href="@Url.Action("index")" class="breadcrumb-item f1-s-3 cl9">
                होम
            </a>

            <span class="breadcrumb-item f1-s-3 cl9" title="@ViewBag.Category">
                @ViewBag.Category समाचार
            </span>
        </div>

    </div>
</div>


