
@{
    ViewBag.Title = " पेज नहीं मिला ::..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="form-group">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 headerText">
            पेज नहीं मिला
        </div>
    </div>
    <br />
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="form-group text-center">
            <div class="alert alert-info" style="font-size:14px;font-weight:bold;">
                आपका खोजा हुआ पेज मौजूद नहीं है, कृपया ऊपर दिए लिंक को क्लिक करे.
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br />

