@model News.Datamodel.NewsUserVM

@{
    ViewBag.Keyword = "Chhattisgarh Sarguja, Sarguja Online, Sarguja University, Sarguja News, सरगुजा ऑनलाइन, सरगुजा ";
    ViewBag.Description = "Get information about Sarguja, you can get the news of Sarguja and  news of District near about Sarguja.";
    ViewBag.Title = "गोपनीयता नीति";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page heading -->
<div class="container p-t-4 p-b-10">
    <h2 class="f1-l-1 cl2">
        <br />
        गोपनीयता नीति
    </h2>
</div>

<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6">
            <a href="index.html" class="breadcrumb-item f1-s-3 cl9">
                होम
            </a>

            <span class="breadcrumb-item f1-s-3 cl9">
                गोपनीयता नीति
            </span>
        </div>

        @*<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
                <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>*@
    </div>
</div>

<!-- Content -->
<section class="bg0 p-b-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <p class="f1-s-11 cl6 p-b-25">
                        यह गोपनीयता नीति सरगुजा ऑनलाइन और / या इसकी सहायक और / या सहयोगी (एस) द्वारा प्रदान की गई या एकत्र की गई जानकारी के उपयोग का वर्णन करती है (सामूहिक रूप से "कंपनी" के रूप में संदर्भित)।जो विभिन्न वेबसाइटों / मोबाइल एप्लिकेशन और अन्य सेवाओं को संचालित करता है, लेकिन किसी भी मोबाइल या इंटरनेट से जुड़े डिवाइस या अन्यथा (सामूहिक रूप से "सेवाएं") के माध्यम से सूचना और सामग्री के वितरण तक सीमित नहीं है।हम इस गोपनीयता नीति का पालन उन स्थानों पर लागू कानूनों के अनुसार करते हैं जहाँ हम काम करते हैं। कुछ मामलों में, हम कुछ सेवाओं या क्षेत्रों के लिए विशिष्ट डेटा गोपनीयता नोटिस प्रदान कर सकते हैं। उन शर्तों को संयोजन में पढ़ा जाना है और वे इस नीति का हिस्सा और पार्सल हैं।
                    </p>

                    <p class="f1-s-11 cl6 p-b-25">
                        कृपया ध्यान रखें कि जब आप हमें किसी तृतीय-पक्ष साइट या प्लेटफ़ॉर्म पर जानकारी प्रदान करते हैं (उदाहरण के लिए, सोशल मीडिया जैसे हमारे अनुप्रयोगों के माध्यम से, हम उन सूचनाओं को एकत्र करते हैं, जो हम उन तृतीय-पक्ष साइटों के माध्यम से एकत्र करते हैं, जो हमारी गोपनीयता नीति से जुड़ी हैं। , और तृतीय-पक्ष साइट या प्लेटफ़ॉर्म एकत्रित या एकत्रित की जाने वाली जानकारी तृतीय-पक्ष साइट या प्लेटफ़ॉर्म की गोपनीयता प्रथाओं के अधीन है। आपके द्वारा तृतीय-पक्ष साइट या प्लेटफ़ॉर्म पर आपके द्वारा की गई गोपनीयता पसंद जानकारी के हमारे उपयोग पर लागू नहीं होगी। हमने सीधे अपने अनुप्रयोगों के माध्यम से एकत्र किया है। कृपया यह भी ध्यान रखें कि हमारी साइटों और अनुप्रयोगों में हमारे द्वारा स्वामित्व या नियंत्रित नहीं की गई अन्य साइटों के लिंक शामिल हो सकते हैं और हम उन साइटों की गोपनीयता प्रथाओं के लिए ज़िम्मेदार नहीं हैं। हम आपको जागरूक होने के लिए प्रोत्साहित करते हैं। आप हमारी साइटों या एप्लिकेशन को छोड़ देते हैं और अन्य साइटों की गोपनीयता नीतियों को पढ़ने के लिए जो आपकी व्यक्तिगत जानकारी एकत्र कर सकते हैं।
                    </p>

                    <p class="f1-s-11 cl6 p-b-25">
                        सभी पूंजीकृत शब्द जो विशेष रूप से यहां परिभाषित नहीं किए गए हैं, उनका उपयोग के नियमों के तहत प्रदान किए गए अर्थ के समान होगा। <br />

                        यह गोपनीयता नीति संयोजन के रूप में और सरगुजा ऑनलाइन पर लागू उपयोग की शर्तों के साथ पढ़ी जानी चाहिए।
                    </p>
                </div>
                <br />
                <!-- Sarguja Online  Banner -->
                @Html.Partial("_BannerFive")
            </div>

            <!-- Sidebar -->


            <div class="col-md-5 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-5">
                    <!-- Popular Posts -->
                    @Html.Partial("_IMostPoular", Model.AllNews)
                </div>
            </div>
        </div>
    </div>
</section>



